fastapi[standard]
passlib[bcrypt]
bcrypt<4.1
python-jose[cryptography]
pydantic-settings==2.8.1
python-dotenv==1.1.0
sqlalchemy==2.0.40
pymysql==1.1.1
cryptography==41.0.7
python-multipart==0.0.20
celery
redis